<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <header class="sidebar">
        <%- include('partials/navbar', { page: 'genres' }) %>
      </header>
      <main class="content games">
        
        <div class="header">
          <h1 class="title"><%=title%> Inventory</h1>
          <form class="search-form" method="GET" action="/genres/search">
            <input type="text" placeholder="Search" />
            <button type="submit" class="primary">
              Search <i class="mi">search</i>
            </button>
          </form>
        </div>
        <div class="subcontainer">
          <%- include('partials/deleteDialog') %>
          <a href="/genres/add"
            ><button class="primary">Add new <i class="mi">add</i></button></a
          >
          
          <table class="games-table">
            <thead>
              <tr>
                <th></th>
                <th>name</th>
                <th class="actions-col">Edit</th>
                <th class="actions-col">Delete</th>
              </tr>
            </thead>

            <tbody>
              <% if (!genres.length) { %>
              <tr>
                <td colspan="5" class="empty-state">No genre found</td>
              </tr>
              <% } %> <% genres.forEach((genre) => { %>
              <tr data-id="<%= genre.id %>">
                <td class="icon"><i class="mi">category</i></td>
                <td><%= genre.name %></td>
                <td class="actions">
                  <a href="/genres/<%= genre.id %>/edit" class="btn btn-edit"
                    ><button class="edit"><i class="mi">edit</i></button></a
                  >
                </td>
                <td class="actions">
                  <form
                    action="/genres/delete/<%= genre.id %>"
                    method="POST"
                    class="inline-form"
                    id="delete-form"
                  >
                    <button
                      class="delete"
                      type="submit"
                      id="<%= genre.id %>"
                    >
                      <i class="mi">delete</i>
                    </button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </main>
      <footer class="footer"></footer>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>